/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#page {
    display: grid;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
}

#h-main, #h-aside {
    grid-column: span 1;
}
#h-header {
    grid-area: header;
}
#h-main {    
    box-shadow: inset 0 0 2px green;
    grid-area: main;
}
#h-aside {
    box-shadow: inset 0 0 2px blue;
    grid-area: sidebar;    
}
#h-footer {
    box-shadow: inset 0 0 2px red;
    grid-area: footer;
}

.inner {
    padding: 1em;
}

.h-flex {
    display: flex;
    justify-content: start;
}

.h-flex-child {
    margin-right: 6px;
    flex-shrink: 1;
    align-self: center;
    /* flex-basis: auto; */
    margin: auto;
}
.h-flex-child.toggle-wrapper {
    align-self: flex-start;
    width: 60px;
}
.h-flex-child.logo-wrapper {
    align-self: start;
    max-width: 200px;
    width: 100%;

}
.h-flex-child.spacer-wrapper {
    flex-grow: 2;
}
.h-flex-child.avatar-wrapper {
    align-self: flex-end;
    flex-grow: 1;
    text-align: left;
}

#toggle-sidebar {
    cursor: pointer;
    font-size: 2em;
    width: 1em;
    height: 1em; 
    padding: 3px;
    display: block;
    background-color: rgba(200,200,200,0.5);
}

#h-aside, #h-header {
    background-color: #6a6a6a;
}

#h-aside[data-state=closed] {
    display: none;
}
#h-aside[data-state=open] {
    display: inherit;
}

@media only screen and (min-width: 600px) {
    #page {         
        grid-template-areas: 
        "header header"
        "sidebar main"
        "sidebar footer";
    }
	#h-main {        
        justify-self: stretch;
        width: 100vw;
        min-height: 80vh;
    } 
    #h-aside {
        justify-self: start; 
        min-height: 80vh;
    }
    #h-header {
        grid-column: span 2;
    }
    #h-aside .inner {
        padding: 1em 6px;
    }
    .aside-content {
        width: 160px;
    }
   
}