* {
	box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#page {
    display: grid;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
}

header {
    box-shadow: inset 0 0 1px green;
    grid-column: span 1;
    display: flex;
    grid-area: header;
}
main, aside {
    grid-column: span 1;
}
main {
    box-shadow: inset 0 0 1px red;
    width: 100%;
    min-height: 20vh;
    grid-area: main;
}
aside {
    box-shadow: inset 0 0 1px blue;
    grid-area: sidebar;    
}
footer {
    box-shadow: inset 0 0 1px green;
    grid-column: span 1;
    display: flex;
    grid-area: footer;
}

.inner {
    padding: 1em;
}

@media only screen and (min-width: 600px) {
    #page {         
        grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
        /* grid-template-columns: 66.66vw 33.33vw;  */
        grid-template-columns: auto-fit 33.33vw; 
        justify-items: stretch;
    }
	main {        
        justify-self: start;
    } 
    aside {
        justify-self: end;
    }
    footer, header {
        grid-column: span 12;
    }
   
}